$gray: #C4C4C4;
$dark-gray: #1B2D37;
$dark-gray-op50: rgba(27, 45, 55, 0.5);
$gray-border: #626962;
$gray-text: #666666;
$gray-card-border: #EBEBEB;

$white: #ffffff;


$black-font: #203C42;
$gray-font: #788891;

$blue: #00B2FF;
