$font-header: 'Roboto Condensed', 'Arial', sans-serif;
$font-text: 'PT Mono', 'Courier New', Courier, monospace;

@font-face {
  font-family: 'PT Mono';
  src: url('../fonts/ptmono/ptmono-bold.woff2') format('woff2'),
      url('../fonts/ptmono/ptmono-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'PT Mono';
	src:
		url('../fonts/ptmono/ptmono-regular.woff2') format('woff2'),
		url('../fonts/ptmono/ptmono-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-bold.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-bolditalic.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-light.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-italic.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-lightItalic.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-lightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed/robotocondensed-regular.woff2') format('woff2'),
      url('../fonts/robotocondensed/robotocondensed-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

