.popap {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  width: 490px;
  height: 605px;
  margin: auto;

  background-color: $blue;
}

.popap__background {
  z-index: 98;
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.3;
}

.popap--show {
  display: block;
}

.popap__wrapper {
  position: relative;
  padding: 33px 39px 36px;
}

.popap__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.popap__form p {
  margin: 0;

  font-family: $font-header;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: $white;
}

.popap__form small {
  font-family: $font-header;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $white;

}

.popap__form textarea {
  height: 104px;
  padding: 14px 16px;

  font-family: $font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $white;
}

.popap__form .custom-checkbox {
  position: relative;
  padding: 0 0 0 39px;

  cursor: pointer;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;

  display: block;
  width: 16px;
  height: 16px;

  border: 1px solid $white;
}

.popap__form input[type='checkbox']:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 10.5px;

  display: block;
  width: 8px;
  height: 5px;

  background-image: url('../img/check.svg');
}

.popap__form input {
  height: 50px;
  padding: 12px 16px;

  font-family: $font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $white;
}

.popap__form input,
.popap__form textarea {
  border: none;
  background-color: $white-op10;

  &::placeholder {
    font-family: $font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: $white;
  }
}

.popap__form button {
  height: 45px;

  font-family: $font-header;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $blue;

  cursor: pointer;
}

.popap__form label {
  font-family: $font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $white-op80;
}

.popap__button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 17px;
  height: 17px;

  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
