.products {
  background-color: $dark-gray;
}

.products__wrapper {
  @include wrapper1451;

  padding: 90px 20px 128px;

  @media (max-width: $tablet-width) {
    padding: 52px 25px 76px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 15px 58px;
  }
}

.products__text {
  margin: 0 0 47px 140px;

  font-family: $font-header;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: $white;

  @media (max-width: $tablet-width) {
    margin: 0 0 47px 0;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 40px 10px;

    font-size: 28px;
    line-height: 140.62%;
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;

  column-gap: 30px;
  row-gap: 30px;

  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 0;
  }


}

.products__item {
  position: relative;

  max-width: 370px;
  min-width: 300px;
  height: 620px;

  @media (max-width: $tablet-width) {
    max-width: inherit;
    width: 100%;
    height: 256px;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    height: 258px;
    min-width: auto;
  }

}

.products__link {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 63px;
    height: 63px;

    background-color: $blue;
    background-image: url('../img/icon-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.products__item img {
  object-fit: cover;
  background-color: $gray;
  opacity: 0.2;

  max-height: 100%;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }

}

.products__item h3 {
  position: absolute;
  top: 53px;
  left: 43px;
  max-width: 180px;
  margin: 0;

  font-family: $font-header;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;

  color: $white;

  @media (max-width: $tablet-width) {
    top: 43px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    left: 35px;
  }
}
